---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = 'About'
---
<body>
  <Navigation />
  <title>{pageTitle}</title>
  <h1>Jack Derksen</h1>
  <h1>About me</h1>
  <h2>... and my new site that I'm building with Astro!</h2>

  <p>I'm currently working on building this site, and it will be continuously updated.</p>
  <p>Keep checking back!</p>
  <Footer />
</body>
