---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <Header />
    <main class="main content">
        <h1>About Me</h1>
        <p>This section should contain a more detailed introduction about yourself. You can discuss your professional background, what drives you, and your passions within your field. It's also a good place to share your goals and what you're looking to achieve through your work and this website.</p>
    </main>
    <Footer />
</body>
</html>
