---
---

   <header>
        <div class="header-name">Jack Derksen</div>
        <nav class="nav-buttons">
            <a href="/" class="nav-button">Home</a>
            <a href="/about" class="nav-button">About</a>
            <a href="/contact" class="nav-button">Contact</a>
        </nav>
    </header>

